:root {
  --primaryWhite: #ffffff;
  --primaryBlue100: #1b95e0;
  --primaryBlue200: #007bff;
  --secondaryBlue100: #243447;
  --secondaryBlue200: #182430;
  --secondaryBlue400: #141d26;
  --secondaryBlue500: #1b1e21;
  --primaryPurple: #611bbd;
  --secondaryPurple: #49247a;
  --primaryGold: #f8ce0b;
  --secondaryGold: #ffc107;
  --primaryGreen: #4bb543;
  --primaryRed: #f50013;
}

.block {
  display: block !important;
}

.none {
  display: none !important;
}

.texto-blanco,
.radio-btn,
.close:hover {
  color: var(--primaryWhite) !important;
}

.jumbotron,
.navbar,
.modal-content,
.bg-secondary-blue-100 {
  background-color: var(--secondaryBlue100) !important;
}

.bg-secondary-blue-200 {
  background-color: var(--secondaryBlue200) !important;
}

.bg-secondary-blue-400 {
  background-color: var(--secondaryBlue400) !important;
}

.border-primary-blue-100,
.navbar-toggler,
.input-formulario,
.input-index,
.buscador,
.custom-file-input ~ .custom-file-label::after {
  border-color: var(--primaryBlue100) !important;
}

.container {
  margin-top: 3%;
}

.row {
  margin-bottom: 2.5rem;
}

.card-block {
  margin-left: 1rem !important;
  margin-bottom: 1rem !important;
}

.buscador {
  width: 40rem !important;
}

.jumbotron {
  margin-top: 10rem;
}

.my-4 {
  background-color: var(--primaryWhite) !important;
}

.title-small {
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.contador {
  text-align: center !important;
  margin-bottom: 2rem !important;
  max-width: 100% !important;
}

.boton-card {
  position: absolute;
  bottom: 0;
  margin-bottom: 0.5rem;
  margin: 0.5rem;
  right: 0;
}

.card-title {
  height: 5rem;
  padding-top: 0.5rem;
}

.modal-lg {
  max-width: 80% !important;
}

.boton-estado-comic {
  width: 12rem;
}

.modal-header {
  border-bottom-color: var(--secondaryBlue400) !important;
}

.modal-footer {
  border-top-color: var(--secondaryBlue400) !important;
}

.close,
.close:hover {
  opacity: 1;
}

.botones-modal {
  padding-top: 1rem !important;
}

.center {
  text-align: center !important;
}

.link,
.link:hover {
  color: var(--primaryBlue100) !important;
}

.versalitas {
  font-variant: small-caps;
}

.menos-margen-inf {
  margin-bottom: 1rem !important;
}

.img {
  transform: scale(0.5) !important;
  -webkit-transform: scale(0.5) !important; /* Saf3.1+, Chrome */
  -moz-transform: scale(0.5) !important; /* FF3.5+ */
  -ms-transform: scale(0.5) !important; /* IE9 */
  -o-transform: scale(0.5) !important; /* Opera 10.5+ */
}

img {
  vertical-align: baseline !important;
}

.margen-derecho-1 {
  margin-right: 1rem !important;
}

.margen-izquierdo-3 {
  margin-left: 3rem !important;
}

.stars-outer {
  display: inline-block;
  position: relative;
}

.stars-outer::before {
  content: url("../resources/img/iconos/glyphicons-49-star-empty.png")
    url("../resources/img/iconos/glyphicons-49-star-empty.png")
    url("../resources/img/iconos/glyphicons-49-star-empty.png")
    url("../resources/img/iconos/glyphicons-49-star-empty.png")
    url("../resources/img/iconos/glyphicons-49-star-empty.png");
}

.stars-inner {
  position: absolute;
  top: 0;
  left: 0;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
}

.stars-inner::before {
  content: url("../resources/img/iconos/glyphicons-50-star.png")
    url("../resources/img/iconos/glyphicons-50-star.png")
    url("../resources/img/iconos/glyphicons-50-star.png")
    url("../resources/img/iconos/glyphicons-50-star.png")
    url("../resources/img/iconos/glyphicons-50-star.png");
  color: var(--primaryGold);
}

.btn-insert {
  justify-content: center !important;
  margin-left: 0rem !important;
}

.btn-group-vertical > .btn,
.btn-group > .btn {
  width: 25% !important;
}

.input-formulario {
  width: 40% !important;
}

.custom-file-input ~ .custom-file-label::after {
  content: "Subir";
  background-color: var(--primaryBlue100) !important;
  color: var(--primaryWhite) !important;
}

.custom-file-input {
  width: auto !important;
}

.exito {
  background-color: var(--primaryGreen) !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 12%;
  height: 75%;
  border-radius: 50%;
}

.error {
  background-color: var(--primaryRed) !important;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 12%;
  height: 75%;
  border-radius: 50%;
}

.nav-tabs,
.nav-link {
  border-color: var(--secondaryBlue400) !important;
}

.tab-content {
  padding-top: 1rem !important;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
  color: var(--primaryWhite) !important;
  background-color: var(--primaryBlue200) !important;
}

.feedback-karma-comic {
  padding-left: 3rem !important;
}

.card-body-comentarios {
  border-radius: 1rem !important;
}

.card-comentarios {
  border-color: var(--secondaryBlue100) !important;
}

.form-comentar {
  padding-top: 1rem !important;
}

.list-inline-item:not(:last-child) {
  margin-right: 20rem !important;
}

.margin-bottom-0 {
  margin-bottom: 0rem !important;
}

.rating-container .filled-stars {
  color: var(--secondaryGold) !important;
  text-shadow: 1px 1px var(--secondaryBlue500) !important;
}

.btn-sample {
  background-color: var(--primaryPurple);
  border-color: var(--primaryPurple);
}

.btn-sample:hover,
.btn-sample:focus,
.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  color: var(--primaryWhite);
  background-color: var(--secondaryPurple);
  border-color: var(--secondaryPurple);
}

.btn-sample:active,
.btn-sample.active,
.open .dropdown-toggle.btn-sample {
  background-image: none;
}

.btn-sample.disabled,
.btn-sample[disabled],
fieldset[disabled] .btn-sample,
.btn-sample.disabled:hover,
.btn-sample[disabled]:hover,
fieldset[disabled] .btn-sample:hover,
.btn-sample.disabled:focus,
.btn-sample[disabled]:focus,
fieldset[disabled] .btn-sample:focus,
.btn-sample.disabled:active,
.btn-sample[disabled]:active,
fieldset[disabled] .btn-sample:active,
.btn-sample.disabled.active,
.btn-sample[disabled].active,
fieldset[disabled] .btn-sample.active {
  background-color: var(--primaryPurple);
  border-color: var(--primaryPurple);
}

.btn-sample .badge {
  color: var(--primaryPurple);
  background-color: var(--primaryPurple);
}
